*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* Barra de Navegación */
.navbar {
    background-color: #343a40;
    width: 100%;
}
/* Area principal */
.tickets {
    width: 50%;
    margin: 0 auto;
    margin-top: 2em;
}
/* Informacion de Entradas */
.entradas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}
.entrada {
    width: 210px;
    height: 200px;
    margin: .5em;
    padding: .5em 1em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.entrada-estudiante {
    border: 3px solid #a5c5e7 !important;
    & .card-title {
        font-weight: bold;
    }
    & span{
        font-weight: bold;
        margin-top:.3em;
        margin-bottom: 1em;
    }
    & .entrada-recordatorio {
        font-size: small;
        color:gray;
    }
}
.entrada-trainee {
    border: 3px solid #abcfd5 !important;
    & .card-title {
        font-weight: bold;
    }
    & span{
        font-weight: bold;
        margin-top:.3em;
        margin-bottom: 1em;
    }
    & .entrada-recordatorio {
        font-size: small;
        color:gray;
    }
}
.entrada-junior {
    border: 3px solid #e7d7a6 !important;
    & .card-title {
        font-weight: bold;
    }
    & span{
        font-weight: bold;
        margin-top:.3em;
        margin-bottom: 1em;
    }
    & .entrada-recordatorio {
        font-size: small;
        color:gray;
    }
}
/* Formulario de compra */
.titulo-form {
    text-align: center;
    margin: .5em;
    & h4 {
        font-size: small;
    }
}
.formulario {
    list-style: none;
    margin-top: .7em;
}
.total-pagar {
    background-color: #cce5ff !important;
    color: #225c99 !important;
    height: 3.5em;
}
.btn-compra{
    display: block;
    text-decoration: none;
    background-color: #97c93e !important;
    border: #97c93e 1px solid !important;
    font-size: 1.1em;
    color: white !important;
    border-radius: 5px;
    width: 100%;
    height: 2.5em;
    padding: .5em 2em;
}

/* Pie de Pagina */
#miFooter {
    background: linear-gradient( to right, #203844,  #1f516e);
    padding: 1em;
    margin-top: 2em;
}
/* MEDIA QUERIES */
@media screen and (max-width: 430px){
    .tickets {
        width: 90%;
        margin: 1.5em;
        margin-top: 2em;
    }
    .entrada-estudiante {
        border: 3px solid #a5c5e7;
        & .card-title {
            font-weight: bold;
            font-size:x-large;
        }
        & p {
            text-align: center;
            font-size: medium;
        }
        & span{
            font-weight: bold;
            font-size: x-large;
            margin-top:0;
            margin-bottom: .5em;
        }
        & .entrada-recordatorio {
            font-size: small;
            color:gray;
        }
    }
    .entrada-trainee {
        border: 3px solid #abcfd5;
        & .card-title {
            font-weight: bold;
            font-size:x-large;
        }
        & p {
            text-align: center;
            font-size: medium;
        }
        & span{
            font-weight: bold;
            font-size: x-large;
            margin-top:0;
            margin-bottom: .5em;
        }
        & .entrada-recordatorio {
            font-size: small;
            color:gray;
        }
    }
    .entrada-junior {
        border: 3px solid #e7d7a6;
        & .card-title {
            font-weight: bold;
            font-size:x-large;
        }
        & p {
            text-align: center;
            font-size: medium;
        }
        & span{
            font-weight: bold;
            font-size: x-large;
            margin-top:0;
            margin-bottom: .5em;
        }
        & .entrada-recordatorio {
            font-size: small;
            color:gray;
        }
    }
    #miFooter {
        margin-top: .5em;
    }
}